body{
    background-color: #031321;
    font-family: 'Montserrat', sans-serif;
    /* padding-right: 100px;
    padding-left: 100px; */
}


/* css de navbar */
.datanav{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-right: 10px;
    color: #e3e4e5;
    margin-bottom: 40px;

}
.navimg{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 30px;

    box-shadow: 5px 5px grey;
    border: slategray;
    border-radius: 5px 5px 5px 5px;
}
.titlenav{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* css logo */
.awesome-brand{
    background-color: black;
    color: white;
    height: 600px;
    font-size: 60px;
}

/* div style */
#subtitule{
    color: black;
    font-size: 3rem;
    text-align: center;
    line-height: 150px;
    font-family: 'Unica One', cursive;
}


h3 {
    color:black;
    font-size: 3rem;
    text-align: center;
    line-height: 150px;
    font-family: 'Unica One', cursive;
}

.span-sub{
    opacity: 0;
    transition: all .5s ease;
}

span.fade{
    opacity: 1;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 2px;
    transition-delay: 1s;
    padding: 5px;
}

.fade:not(.show) {
    opacity: 1;
}


/* table style */

.sub_tab{
    color: #2196f3;
    font-size: 25px;
    font-size: 30px;
}

.table_design{
    margin-left: auto;
    margin-right: auto;
    color: #e3e4e5;
    font-family: 'Montserrat';
    font-size: 18px;
}



.content_tab{
    font-size: 15px;
 
}


@media (min-width: 200px) and (max-width: 500px){
    /* navbar */
    .titlenav{
      visibility: hidden;
    }
    .navimg{
        margin: auto;
    }
}

@media (min-width: 500px) and (max-width: 1300px){
    /* navbar */
.navimg{
    margin: auto;
    }
}