body{
    background-color: #031321;
    font-family: monospace;
}

/* css de navbar */
.datanav{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}
.navimg{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 30px; 

    box-shadow: 5px 5px grey;
    border: slategray;
    border-radius: 5px 5px 5px 5px;
    
}
.titlenav{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

/* css logo */
.awesome-brand{
    background-color: black;
    color: white;
    height: 600px;
    font-size: 60px;
}

/* css subtitule */
.subtitule{
  height: 200px;
  margin-left: 120px;
}


/* css de album */

.content-grid{
   margin-bottom: 150px;
   
   display: grid;
   grid-template-columns: 120px 600px 15px 600px 100px;
   grid-auto-rows: 200px;
   grid-gap: 20px;
   /* tarjeta completa 600 */
}

.card{
    background-color:#031321;   
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: #2196f3;
}


.card-body{
    background-color:#031321;   
    border-top-style: solid;
    border-width: 1px;
    border-color: #2196f3;
}

.card-title{
    color: gray;
}

.img-albums{
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    filter: blur(3px);

    border-top-style: solid;
    background-color: #2196f3;
    
}

.img-albums:hover{
   filter: blur(0px);
}



.album-1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.album-2{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.album-3{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.album-4{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}


/* css para el carrusel */

.div-carousel{
    margin-top: 550px;
    margin-left:120px;
    margin-right: 165px;
    margin-bottom: 0px;
}



.carousel-inner{
    height: 550px;
}

.btn-car{
    width: 40px;
    height: 40px;
}

/* referencias */
.ref{
    position: absolute;
}

/* buy-card */

.buy-card{
    margin-top: 150px;
    margin-bottom: 160px;
}

.img-buy{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .5);
    border-radius: 20px;
    filter: blur(3px);
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
}

.img-buy:hover{
    filter: blur(0px);
}

.buy-content{
   grid-column: 4 / 5;
   grid-row: 1 / 3;
}

/* boton de compra */

.btn-buy{
    position: relative;
    display: grid;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;

    background-color: #031321;
    font-family: monospace; 
   
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

.btn-buy:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.jspn{
    position: absolute;
    display: block;
}

#spn1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}

.btn-buy:hover #spn1{
    left: 100%;
    transition: 1s;
}

#spn3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}

.btn-buy:hover #spn3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


#spn2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}

.btn-buy:hover #spn2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#spn4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}

.btn-buy:hover #spn4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* footer */

.footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: wheat;
  height: 150px;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-social{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
    color: #2196f3;
} 



/* responsive */


/* media para celular */
@media (min-width: 200px) and (max-width: 500px){
    /* navbar */
    .titlenav{
      visibility: hidden;
    }
    .navimg{
        margin: auto;
    }
    
    /* targets */
    
    .content-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 500px);
        justify-content: center;
        align-content: center;
        grid-gap:auto;
        margin-bottom: 0px;

    }
    
    .card{
        margin-left: 10px;
        margin-right: 10px;
    }


    .album-1{
        grid-column: auto;
        grid-row: 1 / 2;
        align-content: center;
        justify-content: center;
    }

    .album-2{
        grid-column: auto;
        grid-row: 2 / 3;
        align-content: center;
        justify-content: center;
    }
   
     .album-3{
        grid-column: auto;
        grid-row: 3 / 4;
        align-content: center;
        justify-content: center;
    } 
    
    .album-4{
        grid-column: auto;
        grid-row: 4 / 5;
        align-content: center;
        justify-content: center;
    } 

    .img-albums{
        filter: blur(0px);
     }
    
    /* album */

    .div-carousel{
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .carousel-inner{
        height: 250px;
        background-color: black;
    }

    .ref{
        position: absolute;
        font-size: 10px;
    }

    /* div-flex */

    .flex-buy{
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 10px;
        margin-right: 10px;
       
    }

    .flex-img{
        justify-content: center;
        align-items: flex-start;

        filter: blur(0px);
        width: auto;
        height: 250px;
        margin-top: -40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: -20px;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .5);
        border-style: solid;
        border-color: #2196f3;
        border-width: 2px;
        border-radius: 25px;   
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; 
    }

    .buy-content{
        justify-content: center;
        align-items: flex-end;
        
        border-style: solid;
        border-color: #2196f3;
        border-width: 2px;
        border-radius: 25px;
        margin-left: 10px;
        margin-right: 10px;     
        margin-bottom: 50px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-top: 10px;   
    }

    .btn-buy{
        margin-bottom: 70px;
            color: #255784;
            background: #2196f3;
            box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        }
    
    /* footer */
    
    .footer{
        display: flex;
        justify-content: flex-start;
        background-color: black;
        color: wheat;
        height: 150px;
      }
      
      .footer-name{
          font-size: 20px;
      }

      .social-media{
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }
      
      .icon-social{
          align-items: flex-end;
          margin-left: 3px;
          margin-right: 3px;
          font-size: 30px;
          color: #2196f3;
      } 
      
    
    }
    
    /* media para ipad */
    @media (min-width: 500px) and (max-width: 990px){
        /* navbar */
    .navimg{
        margin: auto;
    }
}