/* body{
    background-color: #0d0f1b;
} */

/* css de navbar */
.datanav{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}
.navimg{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 30px; 

    box-shadow: 5px 5px grey;
    border: slategray;
    border-radius: 5px 5px 5px 5px;
    
}
.titlenav{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

.awesome-brand{
    background-color: black;
    color: white;
    height: 600px;
}

/* css subtitule */
.subtitule{
  height: 200px;
  margin-left: 120px;
}


/* css de album */
.img-albums{
    border-radius: 10px;
    margin-bottom: 10px;
}

.content{
   display: grid;
   grid-template-columns: 120px 670px 20px 670px 120px;
   grid-auto-rows: 200px;
   /* tarjeta completa 600 */
}

.album-1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.album-2{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.album-3{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.album-4{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}


/* css para el carrusel */
.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}



/* media para celular */
@media (min-width: 200px) and (max-width: 500px){
    /* navbar */
    .titlenav{
      visibility: hidden;
    }
    .navimg{
        margin: auto;
    }
}

/* media para ipad */
@media (min-width: 500px) and (max-width: 990px){
    /* navbar */
    .navimg{
        margin: auto;
    }
}